@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@400;600&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #2563eb;
  --color-secondary: #fbbf24;
}
* {
  font-family: Outfit;
}
